<h1>Date picker</h1>

<app-tabs>
    <app-tab tabTitle="Examples">
        <app-code-box [code]="getCodeSample()">
            <div reloadlyInputGroup>
                <reloadly-input-label type="heading">Date picker</reloadly-input-label>
                <reloadly-input-label type="subheading">Description</reloadly-input-label>
                <reloadly-date></reloadly-date>
            </div>
            <br />
            <div reloadlyInputGroup>
                <reloadly-input-label type="heading">Date error</reloadly-input-label>
                <reloadly-input-label type="subheading">Description</reloadly-input-label>
                <reloadly-date [hasError]="true"></reloadly-date>
            </div>
            <br />
            <div reloadlyInputGroup>
                <reloadly-input-label type="heading">Disabled input</reloadly-input-label>
                <reloadly-input-label type="subheading">Description</reloadly-input-label>
                <reloadly-date [disabled]="true"></reloadly-date>
            </div>
        </app-code-box>
    </app-tab>

    <app-tab tabTitle="API" class="tab api">
        <app-api-table type="component" name="reloadly-date" [data]="api"></app-api-table>
    </app-tab>
</app-tabs>