<div style="background: white;padding: 20px;">
    <h1 [attr.id]="'date-picker'" class="mb-4">Date Field Example</h1>
    <br><br>

    <div class="row">
        <div reloadlyInputGroup>
            <reloadly-input-label type="heading">Label</reloadly-input-label>
            <reloadly-input-label type="subheading">Description</reloadly-input-label>
            <reloadly-date></reloadly-date>
        </div>
        <div reloadlyInputGroup>
            <reloadly-input-label type="heading">Label</reloadly-input-label>
            <reloadly-input-label type="subheading">Description</reloadly-input-label>
            <reloadly-date></reloadly-date>
        </div>
        <div reloadlyInputGroup>
            <reloadly-input-label type="heading">Label</reloadly-input-label>
            <reloadly-input-label type="subheading">Description</reloadly-input-label>
            <reloadly-date [hasError]="true"></reloadly-date>
        </div>
        <div reloadlyInputGroup>
            <reloadly-input-label type="heading">Label</reloadly-input-label>
            <reloadly-input-label type="subheading">Description</reloadly-input-label>
            <reloadly-date [disabled]="true"></reloadly-date>
        </div>
    </div>
    <br>
</div>
