@import "bulma/sass/helpers/spacing";
@import "bulma/sass/helpers/flexbox";

.custom-button-class {
    width: 150px;
}

.custom-button-class-xl {
    width: 300px;
}

.example-icon {
    width: 16px;
    height: 16px;
    display: flex;
}

.example-icon-alt {
    width: 12px;
    height: 20px;
    display: flex;
}



.content-tabset {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .active {
        header.title .content-tabset .active {
            border-top-color: #28a745;
        }
    }
}