<section class="section py-20 mb-6 mt-6">
    <div class="container">
        <div class="columns mt-6">
            <div class="column is-10 mb-8">
                <p>Reloadly UI is an angular module for building rich user interfaces.
                <p>
                <h2>Dependencies</h2>

                <p>
                    The only dependencies are [Angular](https://angular.io), [Bulma](https://bulma.io).
                    The supported versions are:
                </p><br />
                <span><code [highlight]="'reloadly-ui v1.0.0'"></code> </span><br />
                <span><code [highlight]="'angular v16.0.0'"></code> </span><br /><br />

                <h2>Installation</h2>

                <p>Just run the following:</p>

                <code [highlight]="'npm install reloadly-ui'"></code>
                <br /><br />

                <p>
                    It will install reloadly-ui for the default application specified in your <code
                        [highlight]="'angular.json'"></code>.
                    If you have multiple projects and you want to target a specific application, you could specify the
                    <code [highlight]="'--project'"></code> option:
                </p><br />

                <code [highlight]="'npm install reloadly-ui'"></code>

                <p>
                    <code [highlight]="'npm install reloadly-ui --project myProject'"></code>
                </p>
            </div>
        </div>
    </div>
</section>
