$reloadly-danger: #df1b41;
$reloadly-orange: #ed6704;
$reloadly-white: #ffffff;
$reloadly-black: #000000;

$input-radius: 4px;
$border-width: 1px;
$border-radius-l: 16px;
$border-radius-md: 10px;
$box-shadow: 0px 2px 5px var(--box-shadow-contrast-1_2), 0px 1px 1px var(--box-shadow-contrast-0_8);
$card-btn-box-shadow: 0px 1px 1px var(--card-btn-box-shadow--contrast-1_2), 0px 2px 5px var(--card-btn-box-shadow--contrast-0_8);
$card-border: 1px solid var(--card-border-color);
$card-btn-border: 1px solid var(var(--card-btn-border-color));
$header-height: 38px;
$box-halo-width: 3px;
$header-height: 38px;

$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-64: 64px;
$spacing-100: 100px;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-rg: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;

$form-box-padding-small: 2px 8px;
$form-box-padding-medium: 4px 8px;
$form-box-padding-large: 8px;

@mixin theme-transition {
    transition: background-color 250ms linear;
}
