$input-shadow: inset 0 0.0625em 0.125em RBG(10 10 10 / .05);

@mixin disabled-input {
    background: var(--rld-form-disabled);
    border: 1px solid var(--rld-border-color);
    cursor: not-allowed;

    * {
        cursor: not-allowed !important;
    }
}

form {
    padding: $spacing-10 0;
}

.form-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 16px;
}

.formHasError {
    background: #fff5fa;
    border: 1px solid #ffe7f2;
    border-radius: 4px;
}

.input-group {
    display: flex;
    flex-flow: column;
}

.input-container {
    background: white;
    padding: 4px 8px;
    border: 1px solid var(--rld-border-color);
    border-radius: 4px;
    outline: none;
    font-weight: 400;
    font-size: $font-size-s;
    line-height: 20px;
    transition: all ease 0.4s;
    box-shadow: 0px 0px 0px $box-halo-width transparent;
    align-items: center;

    &::placeholder {
        color: var(--rld-grey);
    }

    &:focus {
        border: 1px solid var(--rld-border-color);
        box-shadow: 0px 0px 0px $box-halo-width rgba(58, 151, 212, 0.36);
    }

    &:disabled, &[disabled] {
        @include disabled-input();
    }
}

.input-large {
    height: 40px;
}

.input-medium {
    height: 28px;
}

.input-small {
    height: 24px;
}

.disabled-input {
    @include disabled-input();
    border-radius: 4px;

    &:focus {
        border: 1px solid var(--rld-border-color);
        border-radius: 4px;
        box-shadow: none;
    }
}

.error-input {
    border: 1px solid $reloadly-danger;
    border-radius: 4px;
    box-shadow: none;
}
