@import "./variables.scss";

.reloadly-table {
    min-width: 1024px;
    thead {
        tr {
            th {
                font-size: 11px;
                font-weight: 450;
                line-height: 20px;
                text-transform: uppercase;
                font-style: normal;
                color: $reloadly-table-head-color !important;
                padding-bottom: 5px;
                padding-top: 10px;
                border-width: 0 0 1px !important;
                border-color: $reloadly-table-border-color;
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: 14px;
                line-height: 20px;
                font-style: normal;
                padding-bottom: 5px;
                padding-top: 24px;
                border-width: 0 0 1px !important;
                border-color: $reloadly-table-border-color;
                color: $reloadly-table-body-color;
            }
        }
    }
}
