.reloadly-table {
    min-width: 640px;
    width: 100%;

    @media (min-width: 48em) {
        min-width: 1024px;
    }

    thead {
        tr {
            th {
                font-size: $font-size-xs;
                font-weight: 450;
                line-height: 20px;
                text-transform: uppercase;
                font-style: normal;
                color: var(--rld-table-head-color) !important;
                padding: $spacing-8;
                padding-bottom: 5px;
                padding-top: 10px;
                border-width: 0 0 1px !important;
                border-color: var(--rld-table-border-color);
                border: 1px solid var(--rld-table-border-color);
                vertical-align: middle !important;
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: $font-size-s;
                line-height: 20px;
                font-style: normal;
                padding: $spacing-8;
                border-width: 0 0 1px !important;
                border-color: var(--rld-table-border-color);
                border: 1px solid var(--rld-table-border-color);
                color: var(--rld-table-body-color);
                vertical-align: middle !important;
                text-wrap: nowrap;
            }

            &:hover {
                background: var(--rld-black-3-hover);
            }
        }
    }
}