$reloadly-blue: #6ae8ff;
$reloadly-light-blue: #d4e5ff;
$reloadly-mint: #53ff98;
$reloadly-violet: #7700ff;
$reloadly-violet-2: #852af9;
$reloadly-violet-3: #c49ffd;
$reloadly-violet-4: #00163a;
$reloadly-violet-5: #f6edff;
$reloadly-ash: #f6f8fc;
$reloadly-grey: #b9bfc7;
$reloadly-white: #ffffff;
$reloadly-black: #000000;
$reloadly-black-1: #334054;
$reloadly-black-2: #606d80;
$reloadly-black-3: #606a7a;
$reloadly-black-4: #868d95;
$reloadly-black-5: #0000008f;
$reloadly-black-6: #50565b;
$reloadly-black-6-hover: #3e4246;
$reloadly-black-7: #3c4247;
$reloadly-black-8: #3c4257;
$reloadly-black-9: #38456c;
$reloadly-black-10: #6a7383;
$reloadly-black-11: #687385;
$reloadly-black-12: #a3acb9;
$reloadly-black-13: #a3acba;
$reloadly-black-14: #484649;
$reloadly-table-head-color: #1a1f36;
$reloadly-table-body-color: #6a7383;
$reloadly-table-border-color: #ebeef1;
$reloadly-disabled-color: #ebdffe;
$reloadly-border-color: #e9f2ff;
$reloadly-tonal: #e8def8;
$reloadly-filled-hover: #5b05c3;
$reloadly-filled-pressed: #9c79ff;
$reloadly-filled-disabled: #f1efff;
$reloadly-secondary-btn: #479cab;
$reloadly-danger: #df1b41;
$reloadly-orange-1: #ed6704;
$reloadly-form-disabled: #f6f8fa;

$primary: $reloadly-blue;
$link: $reloadly-violet;
$background-color: #ffffff;
$text: #50565b;
$input-radius: 4px;
$border-color: #d5dbe1;
$input-border-color: $reloadly-light-blue;
$input-hover-border-color: $input-border-color;
$input-disabled-background-color: $reloadly-disabled-color;
$family-sans-serif: "Futura", "Century Gothic", "Corbel", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
// ... then derived variables are imported and overwritten
//@import "bulma/sass/utilities/derived-variables";

// other variables
$input-bg-color: #d5d9e0;
$container-bg-color: #f3ebff;
$border-width: 1px;
$box-bg-color: #f2f4f8;
$card-border: 1px solid #d5d9e0;
$text-primary-color: #232d3d;
$brand-color: #7700ff;
$grey-text-color: #697077;
$box-shadow: 0px 2px 5px rgba(60, 66, 87, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
$header-height: 38px;
$spacing-small: 1rem;
$spacing-smaller: 0.8rem;
$spacing-smallest: 0.6rem;
$spacing-tiny: 0.4rem;
$spacing-big: 2rem;
$spacing-huge: 6rem;
$button-padding: 12px 24px;
$padding-small: 1rem;
$padding-huge: 6rem;
$border-radius-l: 16px;
$border-radius-md: 10px;
$font-size-l: 24px;
$font-size-md: 20px;
$font-size-sm: 16px;

$form-box-padding-small: 2px 8px;
$form-box-padding-medium: 4px 8px;
$form-box-padding-large: 8px;

$font-small: 12px;
$font-medium: 14px;
$font-regular: 16px;
$font-big: 18px;
$font-huge: 22px;
$margin-4: 4px;
$margin-8: 8px;
$margin-10: 10px;
$margin-16: 16px;
$margin-32: 32px;

$padding-4: 4px;
$padding-8: 8px;
$padding-10: 10px;
$padding-16: 16px;
$padding-24: 24px;
$padding-32: 32px;
$padding-64: 64px;
$padding-100: 100px;
$gradient: linear-gradient(65.58deg, rgba(0, 66, 255, 0.5) -11.84%, rgba(235, 0, 27, 0.5) 98.75%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);

@mixin drop-shadow {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}
