<div>
    <nav class="navbar py-2 mb-5">
        <div class="bg skew"></div>
        <div class="container is-fluid">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <span class="navbar-item px-0 title is-5 has-text-dark">
                        <a routerLink="/">
                            <img src="assets/logo-white.png" alt="Reoadly UI logo" class="logo" width="auto">
                        </a>
                    </span>
                </a>
                <a class="navbar-menu-open navbar-burger" role="button" type="button" data-toggle="side-menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <ul class="navbar-item">
                        <li><a class="navbar-item" routerLink="/" routerLinkActive="active">Getting Started</a></li>
                        <li><a class="navbar-item" routerLink="components" routerLinkActive="active">Components</a>
                        </li>
                        <li><a class="navbar-item" href="#">GitHub</a></li>
                    </ul>
                    <div class="navbar-item is-hidden-mobile pl-0"><a
                            class="button is-primary has-background-danger-light has-text-danger" href="#">Contact
                            Us</a></div>
                </div>
            </div>
        </div>
    </nav>

    <div class="is-hidden navbar-side is-fixed is-top-0 is-bottom-0 is-left-0 has-mw-md"
        style="width: 75%; z-index: 9999;">
        <div class="navbar-backdrop is-fixed is-inset-0 has-background-dark" style="opacity: 75%; z-index: 50;"></div>
        <aside class="menu is-relative is-flex is-flex-direction-column py-6 px-6 has-background-white"
            style="width: 100%; height: 100%; z-index: 50; overflow-y: auto;">
            <div class="is-flex is-align-items-center mb-10">
                <a class="mr-auto mb-0" href="#">
                    <span class="navbar-item px-0 title is-5 has-text-dark">
                        <img src="assets/logo-white.png" alt="Reoadly UI logo" class="logo" width="auto">
                    </span>
                </a>
                <button class="navbar-close button is-text p-0 mb-2" type="button" aria-label="Close">
                    <svg style="width: 18px; height: 18px;" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                </button>
            </div>
            <ul class="menu-list is-size-7">
                <li class="mb-2"><a href="#">About</a></li>
                <li class="mb-2"><a href="#">Company</a></li>
                <li class="mb-2"><a href="#">Services</a></li>
                <li class="mb-2"><a href="#">Testimonials</a></li>
            </ul>
            <div class="mt-auto">
                <div class="py-6"><a class="button is-primary is-fullwidth" href="#">Contact Us</a></div>
                <p class="mb-4 has-text-centered has-text-grey-dark">
                    <span>© 2021 All rights reserved.</span>
                </p>
            </div>
        </aside>
    </div>
</div>
