/* You can add global styles to this file, and also import other style files */
@import './styles/bulma-theme.scss';
@import "~highlight.js/styles/atom-one-light.css";

html {
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    font-size: 1.9em !important;
    margin-bottom: 0.8em !important;
}

h2 {
    font-size: 1.2em !important;
    margin-bottom: 0.8em !important;
}

p {
    margin-bottom: 1em !important;
}

.content-tabset {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .active {
        header.title .content-tabset .active {
            border-top-color: #28a745;
        }
    }
}


.api {
    .highlighted {
        color: #d63384;
    }

    .highlighted-secondary {
        color: #0055bc;
    }

    table {
        width: 100%;

        thead {
            background: hsl(0, 0%, 96%);
        }

        td,
        th {
            padding: 1em;
            vertical-align: middle;
        }

        td {
            .type {
                font-style: italic;
                display: block;
            }
        }
    }
}