<h1>Switch input</h1>

<app-tabs>
    <app-tab tabTitle="Examples">
        <app-code-box [code]="getCodeSample('small')" title="Small">
            <div class="row mb-7">
                <reloadly-switch size="small" type="default" label="Label" description="Description"
                    [toggle]="true"></reloadly-switch>

                <reloadly-switch size="small" type="default" label="Label" description="Description"
                    [disabled]="true"></reloadly-switch>

                <reloadly-switch size="small" type="livemode" label="Label" description="Description"
                    [toggle]="true"></reloadly-switch>
            </div>

            <div class="row">
                <reloadly-switch size="small" type="default" [toggle]="true"></reloadly-switch>

                <reloadly-switch size="small" type="default" [disabled]="true"></reloadly-switch>

                <reloadly-switch size="small" type="livemode" [toggle]="true"></reloadly-switch>
            </div>
        </app-code-box>

        <app-code-box [code]="getCodeSample('medium')" title="Medium">
            <div class="row">
                <reloadly-switch size="medium" type="default" label="Label" description="Description"
                    [toggle]="true"></reloadly-switch>

                <reloadly-switch size="medium" type="default" label="Label" description="Description"
                    [toggle]="false"></reloadly-switch>

                <reloadly-switch size="medium" type="livemode" label="Label" description="Description"
                    [toggle]="true"></reloadly-switch>
            </div>
            <div class="row">
                <reloadly-switch size="medium" type="default" [toggle]="true"></reloadly-switch>

                <reloadly-switch size="medium" type="default" [toggle]="false"></reloadly-switch>

                <reloadly-switch size="medium" type="livemode" [toggle]="true"></reloadly-switch>
            </div>
        </app-code-box>
    </app-tab>

    <app-tab tabTitle="API" class="tab api">
        <app-api-table type="component" name="reloadly-switch" [data]="api"></app-api-table>
    </app-tab>
</app-tabs>
