<h1>Pagination</h1>
<p class="mb-6">Pagination component for implementing server-side pagination</p>

<app-tabs>
    <app-tab tabTitle="Examples">
        <app-code-box [code]="getCodeSample()">
            <table reloadly-table>
                <thead>
                    <tr class="border-b border-gray-200">
                        <th>
                            Id
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of paginatedData">
                        <td>{{item}}</td>
                        <td>Succeeded</td>
                    </tr>
                </tbody>
            </table>
            <reloadly-pagination [page]="page" [size]="size" [total]="total"
                (changePage)="changePage($event)"></reloadly-pagination>
        </app-code-box>
    </app-tab>

    <app-tab tabTitle="API" class="tab api">
        <app-api-table type="component" name="reloadly-pagination" [data]="api"></app-api-table>
    </app-tab>
</app-tabs>