@import "bulma/sass/helpers/spacing";
@import "bulma/sass/helpers/flexbox";

.custom-button-class {
    width: 150px;
}
.custom-button-class-xl {
    width: 300px;
}
.example-icon {
    width: 16px;
    height: 16px;
    display: flex;
}
.example-icon-alt {
    width: 12px;
    height: 20px;
    display: flex;
}
