<div class="examples" style="background: white;padding: 20px;">
    <p style="margin-bottom: 32px;">Breadcrumbs</p>
    <div class="row">
        <reloadly-breadcrumbs>
            <reloadly-breadcrumb-item>
                <a>Step 1</a>
            </reloadly-breadcrumb-item>
            <reloadly-breadcrumb-item>
                <p>Step 2</p>
            </reloadly-breadcrumb-item>
            <reloadly-breadcrumb-item [isActive]="true">Current step</reloadly-breadcrumb-item>
            <reloadly-breadcrumb-item>Step 4</reloadly-breadcrumb-item>
            <reloadly-breadcrumb-item>Step 5</reloadly-breadcrumb-item>
        </reloadly-breadcrumbs>
    </div>
</div>