.reloadly-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;

    ///********PRIMARY BUTTON**********
    &.primary {
        background: $reloadly-violet;
        color: $reloadly-white;

        &.filled {
            background: $reloadly-violet;
            color: $reloadly-white;

            &:hover {
                background: $reloadly-filled-hover;
                box-shadow: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
            }

            &:focus {
                background: $reloadly-filled-hover;
                outline: 2px solid $reloadly-violet;
                box-shadow: none;
                outline-offset: 2px;
            }

            &:active {
                background: $reloadly-filled-pressed;
                box-shadow: none;
            }

            &:disabled {
                background: $reloadly-filled-disabled;
                box-shadow: none;
                color: #a7acb2;
            }
        }

        //*******ROUNDED STYLE***********
        &.rounded {
            border-radius: 100px;

            //*******VARIANT STYLE***********
            &.filled {
                &:focus {
                    background: $reloadly-filled-hover;
                    box-shadow: none;
                    outline: none;
                }

                &:active {
                    background: $reloadly-filled-pressed;
                    box-shadow: none;
                }
            }
        }

        &.outlined {
            color: $reloadly-violet;
            background: transparent;
            border: 1px solid $reloadly-violet;

            &:hover {
                border: 1px solid #3e008e;
                background: rgba(103, 80, 164, 0.08);
            }

            &:focus {
                color: #3e008e;
                background: rgba(103, 80, 164, 0.08);
            }

            &:active {
                background: rgba(103, 80, 164, 0.08);
                border: 1px solid #8492a6;
                color: $reloadly-violet;
            }

            &:disabled {
                color: #101113;
                border: 1px solid rgba(28, 27, 31, 0.12);
                background: none;
                opacity: 0.38;
            }
        }

        &.text {
            color: $reloadly-violet;
            background: $reloadly-white;

            &:hover {
                color: $reloadly-violet;
                border: none;
                background: #e5deff;
            }

            &:focus {
                color: $reloadly-violet;
                background: #f1efff;
            }

            &:active {
                background-color: $reloadly-violet;
                color: $reloadly-white;
            }

            &:disabled {
                color: #101113;
                background: none;
                opacity: 0.38;
            }
        }

        &.elevated {
            color: $reloadly-violet;
            box-shadow: 0px 1px 3px 1px RGB(0 0 0 / 15%),
                0px 1px 2px 0px RGB(0 0 0 / 30%);
            background: linear-gradient(0deg,
                    rgba(103, 80, 164, 0.05),
                    rgba(103, 80, 164, 0.05)),
                #fffbfe;

            &:hover {
                color: $reloadly-violet;
                background: linear-gradient(0deg,
                        rgba(103, 80, 164, 0.05),
                        rgba(103, 80, 164, 0.05)),
                    #fffbfe;
            }

            &:focus {
                color: $reloadly-violet;
                background: linear-gradient(0deg,
                        rgba(103, 80, 164, 0.05),
                        rgba(103, 80, 164, 0.05)),
                    #fffbfe;
            }

            &:active {
                color: $reloadly-violet;
                background: linear-gradient(0deg,
                        rgba(103, 80, 164, 0.05),
                        rgba(103, 80, 164, 0.05)),
                    #fffbfe;
                box-shadow: none;
            }

            &:disabled {
                color: RGB(16, 17, 19, 0.38);
                background: rgba(28, 27, 31, 0.12);
                box-shadow: none;
            }
        }

        &.tonal {
            color: $reloadly-black-1;
            background: $reloadly-tonal;

            &:hover {
                color: $reloadly-black-1;
                background: rgba(29, 25, 43, 0.08);
                background: #e8def8;
                box-shadow: 0px 1px 3px 1px RGB(0 0 0 / 15%),
                    0px 1px 2px 0px RGB(0 0 0 / 30%);
            }

            &:focus {
                color: $reloadly-black-1;
                background: #e8def8;
                box-shadow: none;
            }

            &:active {
                color: $reloadly-black-1;
                background: #e8def8;
                box-shadow: none;
            }

            &:disabled {
                color: RGB(16, 17, 19, 0.38);
                background: rgba(28, 27, 31, 0.12);
                box-shadow: none;
            }
        }
    }

    ///********SECONDARY BUTTON**********
    &.secondary {
        &.filled {
            background: $reloadly-secondary-btn;
            color: $reloadly-white;

            &:hover {
                background: #38808d;
            }

            &:focus {
                background: #2a6671;
            }

            &:active {
                background: #53b9cc;
                box-shadow: none;
            }

            &:disabled {
                background: #e5fcff;
                box-shadow: none;
                color: #a7acb2;
            }
        }

        //*******ROUNDED STYLE***********
        &.rounded {
            border-radius: 100px;

            //*******VARIANT STYLE***********
            &.filled {
                &:focus {
                    background: #2a6671;
                    box-shadow: none;
                    outline: none;
                }

                &:active {
                    background: #53b9cc;
                    box-shadow: none;
                }
            }
        }

        &.outlined {
            color: $reloadly-secondary-btn;
            background: transparent;
            border: 1px solid $reloadly-secondary-btn;

            &:disabled {
                color: #101113;
                border: 1px solid rgba(28, 27, 31, 0.12);
                background: none;
                opacity: 0.38;
            }
        }

        &.text {
            color: $reloadly-secondary-btn;
            background: $reloadly-white;

            &:hover {
                color: $reloadly-secondary-btn;
            }

            &:focus {
                color: $reloadly-secondary-btn;
            }

            &:active {
                color: $reloadly-secondary-btn;
                color: $reloadly-white;
            }

            &:disabled {
                color: #101113;
                background: none;
                opacity: 0.38;
            }
        }

        &.elevated {
            color: $reloadly-secondary-btn;
            box-shadow: 0px 1px 3px 1px RBG(0 0 0 / 15%),
                0px 1px 2px 0px RGB(0 0 0 / 30%);

            &:hover {
                color: $reloadly-secondary-btn;
            }

            &:focus {
                color: $reloadly-secondary-btn;
            }

            &:active {
                color: $reloadly-secondary-btn;

                box-shadow: none;
            }

            &:disabled {
                color: RGB(16, 17, 19, 0.38);
                background: rgba(28, 27, 31, 0.12);
                box-shadow: none;
            }
        }

        &.tonal {
            color: $reloadly-black-1;

            &:hover {
                color: $reloadly-black-1;
                box-shadow: 0px 1px 3px 1px RGB(0 0 0 / 15%),
                    0px 1px 2px 0px RGB(0 0 0 / 30%);
            }

            &:focus {
                color: $reloadly-black-1;
                box-shadow: none;
            }

            &:active {
                color: $reloadly-black-1;
                box-shadow: none;
            }

            &:disabled {
                color: RGB(16, 17, 19, 0.38);
                background: rgba(28, 27, 31, 0.12);
                box-shadow: none;
            }
        }
    }

    ///******WHITE BUTTON******

    &.white {
        border: 1px solid #e0e6eb;

        &.filled {
            background: $reloadly-white;
            color: $reloadly-black-1;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 2px 5px rgba(60, 66, 87, 0.08);

            &:focus {
                box-shadow: none;
            }

            &:active {
                box-shadow: none;
            }

            &:disabled {
                opacity: 0.5;
            }
        }

        &.outlined {
            color: $reloadly-black-1;
            background: transparent;
            border: 1px solid $reloadly-black-1;

            &:disabled {
                color: #101113;
                border: 1px solid rgba(28, 27, 31, 0.12);
                background: none;
                opacity: 0.38;
            }
        }

        &.text {
            border: none;
            color: $reloadly-black-1;
            background: $reloadly-white;

            &:hover {
                color: $reloadly-black-1;
            }

            &:focus {
                color: $reloadly-black-1;
            }

            &:active {
                color: $reloadly-black-1;
                color: $reloadly-white;
            }

            &:disabled {
                color: #101113;
                background: none;
                opacity: 0.38;
            }
        }

        &.elevated {
            color: $reloadly-black-1;
            box-shadow: 0px 1px 3px 1px RGB(0 0 0 / 15%),
                0px 1px 2px 0px RGB(0 0 0 / 30%);

            &:hover {
                color: $reloadly-black-1;
            }

            &:focus {
                color: $reloadly-black-1;
            }

            &:active {
                color: $reloadly-black-1;
                box-shadow: none;
            }

            &:disabled {
                color: RGB(16, 17, 19, 0.38);
                background: rgba(28, 27, 31, 0.12);
                box-shadow: none;
            }
        }

        &.tonal {
            color: $reloadly-black-1;

            &:hover {
                color: $reloadly-black-1;
                box-shadow: 0px 1px 3px 1px RGB(0 0 0 / 15%),
                    0px 1px 2px 0px RGB(0 0 0 / 30%);
            }

            &:focus {
                color: $reloadly-black-1;
                box-shadow: none;
            }

            &:active {
                color: $reloadly-black-1;
                box-shadow: none;
            }

            &:disabled {
                color: RGB(16, 17, 19, 0.38);
                background: rgba(28, 27, 31, 0.12);
                box-shadow: none;
            }
        }
    }

    ///******DANGER BUTTON******
    &.danger {
        &.filled {
            background: $reloadly-danger;
            color: $reloadly-white;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 2px 5px rgba(60, 66, 87, 0.08);

            &:focus {
                box-shadow: none;
            }

            &:active {
                box-shadow: none;
            }

            &:disabled {
                opacity: 0.5;
            }
        }

        &.outlined {
            color: $reloadly-danger;
            background: transparent;
            border: 1px solid $reloadly-danger;

            &:hover {
                background: rgba(103, 80, 164, 0.08);
            }

            &:disabled {
                color: #101113;
                border: 1px solid rgba(28, 27, 31, 0.12);
                background: none;
                opacity: 0.38;
            }
        }

        &.text {
            color: $reloadly-danger;
            background: $reloadly-white;

            &:hover {
                color: $reloadly-danger;
            }

            &:focus {
                color: $reloadly-danger;
            }

            &:active {
                color: $reloadly-white;
            }

            &:disabled {
                color: #101113;
                background: none;
                opacity: 0.38;
            }
        }

        &.elevated {
            color: $reloadly-danger;
            box-shadow: 0px 1px 3px 1px RGB(0 0 0 / 15%),
                0px 1px 2px 0px RGB(0 0 0 / 30%);

            &:hover {
                color: $reloadly-danger;
            }

            &:focus {
                color: $reloadly-danger;
            }

            &:active {
                color: $reloadly-danger;
                box-shadow: none;
            }

            &:disabled {
                color: RGB(16, 17, 19, 0.38);
                background: rgba(28, 27, 31, 0.12);
                box-shadow: none;
            }
        }

        &.tonal {
            color: $reloadly-danger;

            &:hover {
                color: $reloadly-danger;
                box-shadow: 0px 1px 3px 1px RGB(0 0 0 / 15%),
                    0px 1px 2px 0px RGB(0 0 0 / 30%);
            }

            &:focus {
                color: $reloadly-danger;
                box-shadow: none;
            }

            &:active {
                color: $reloadly-danger;
                box-shadow: none;
            }

            &:disabled {
                color: RGB(16, 17, 19, 0.38);
                background: rgba(28, 27, 31, 0.12);
                box-shadow: none;
            }
        }
    }

    &.lg {
        padding: 10px 20px;
        font-size: $font-regular;
        font-weight: 450;
    }

    &.xl {
        padding: 12px 24px;
        font-size: $font-regular;
        font-weight: 450;
    }

    &.xs {
        padding: 4px 8px;
        border-radius: 4px;

        &.filled {
            &:focus {
                outline: 4px solid #0196ed5c;
                outline-offset: 0;
            }
        }
    }

    &.rounded {
        border-radius: 100px;
    }

    //*******DISABLED STYLE***********
    &:disabled {
        cursor: no-drop;
    }
}

.menu-item {
    color: #393c40;
    font-size: $font-medium;
    font-weight: 450;
    line-height: 20px;
    display: flex;
    align-items: center;
    border: 0;
    background: none;
    outline: none;
    padding: 6px 8px;
    margin: 0;
    cursor: pointer;

    &:hover {
        background: rgba(103, 80, 164, 0.08);
    }
}
