@import "../../../styles/variables";

$input-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);

@mixin input-base {
    appearance: none;
    border: $border-width solid $input-border-color;
    border-radius: $input-radius;
    line-height: 1;
    max-width: 100%;
    width: 100%;
    min-height: 1em;
    font-size: 1rem;
    color: $reloadly-black-4;
    padding: $spacing-smallest;
    padding-top: 12px;
    background-color: $background-color;

    &:focus,
    &:active {
        outline: none;
    }

    &::placeholder {
        color: $reloadly-black-4;
    }
}

@mixin hover-effect {
    border-color: darken($color: $input-border-color, $amount: 10);
}

form {
    width: 100%;
    padding: $spacing-smaller 0;

    .entry {
        max-width: 100%;
        width: 100%;
        display: block;
        margin: $spacing-small 1px;

        .label {
            display: block;
            margin: $spacing-smallest 0;
            font-weight: 450;
            font-size: $font-medium;
            color: $reloadly-black-2;
        }

        .legend {
            display: inline-block;
            margin: $spacing-smallest 0;
            font-weight: 450;
        }
    }

    fieldset.entry {

        .input,
        .select {
            margin-bottom: $spacing-smallest;
        }

        div.select {
            @include input-base;
            box-shadow: $input-shadow;
            padding: $spacing-smallest 0;
            display: inline-block;
            max-width: 100%;
            position: relative;
            vertical-align: top;
            min-height: 1em;

            &:hover,
            &:active,
            &:focus {
                @include hover-effect;
            }

            &.disabled {
                @include disabled;

                select {
                    background-color: $input-disabled-background-color;

                    &:disabled {
                        @include disabled;
                    }
                }
            }

            &::after {
                border: 3px solid transparent;
                border-radius: 2px;
                border-right: 0;
                border-top: 0;
                content: " ";
                display: block;
                height: 0.625em;
                margin-top: -0.4375em;
                pointer-events: none;
                position: absolute;
                z-index: 4;
                right: 1.25em;
                top: 50%;
                transform: rotate(-45deg);
                transform-origin: center;
                width: 0.625em;
                border-color: $text;
            }

            select {
                padding: 0 $spacing-smallest;
                width: 100%;
                border: none;
                cursor: pointer;
                display: block;
                font-size: 1em;
                max-width: 100%;
                outline: none;
                appearance: none;
                min-height: 25px;
                background-color: $background-color;
                color: inherit;
            }
        }
    }
}

.input,
.textarea {
    @include input-base;
    box-shadow: $input-shadow;

    &:hover,
    &:active,
    &:focus {
        @include hover-effect;
    }

    &:active,
    &:focus {
        border-color: darken($color: $input-border-color, $amount: 10);
        box-shadow: 0 0 0 0.125em darken($color: $input-border-color, $amount: 10);
    }

    &:disabled {
        @include disabled;
    }

    &:read-only {
        box-shadow: none;
    }
}

.textarea {
    width: 100%;
    resize: vertical;
    display: block;
    min-height: 8em;
}

.button {
    &-primary {
        @include input-base;
        background: $reloadly-violet;
        padding: $button-padding;
        font-weight: 450;
        font-size: $font-regular;
        color: $reloadly-white;
        border: none;
        cursor: pointer;
        transition: ease all 0.4s;

        &:hover {
            background-color: $reloadly-violet-2;
        }
    }

    &-cancel {
        @include input-base;
        background: $reloadly-black-6;
        padding: $button-padding;
        font-weight: 450;
        font-size: $font-regular;
        color: $reloadly-white;
        border: none;
        cursor: pointer;
        transition: ease all 0.4s;

        &:hover {
            background-color: $reloadly-black-6-hover;
        }
    }
}

// Form Group styles

.form-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 16px;
}

.formHasError {
    background: #fff5fa;
    border: 1px solid #ffe7f2;
    border-radius: 4px;
}

//  New Input fields
.input-group {
    display: flex;
    flex-flow: column;
}

.input-container {
    background: white;
    padding: 4px 8px;
    border: 1px solid $border-color;
    border-radius: 4px;
    outline: none;
    font-weight: 400;
    font-size: $font-medium;
    line-height: 20px;
    transition: all ease 0.4s;
    box-shadow: 0px 0px 0px 3px transparent;
    display: flex;
    align-items: center;

    &::placeholder {
        color: $reloadly-black-13;
    }

    &:focus {
        border: 1px solid $border-color;
        box-shadow: 0px 0px 0px 3px rgba(58, 151, 212, 0.36);
    }
}

.input-large {
    height: 40px;
}

.input-medium {
    height: 28px;
}

.input-small {
    height: 24px;
}

.disabled-input {
    background: $reloadly-form-disabled;
    border: 1px solid $border-color;
    border-radius: 4px;
    cursor: not-allowed;

    &:focus {
        border: 1px solid $border-color;
        border-radius: 4px;
        box-shadow: none;
    }

    * {
        cursor: not-allowed !important;
    }
}

.error-input {
    border: 1px solid $reloadly-danger;
    border-radius: 4px;
    box-shadow: none;
}