.iti {
    width: 100%;
    input {
        width: 100%;
    }
    &.separate-dial-code {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        .iti__selected-flag {
            width: 90px !important;
        }
        input {
            padding-left: 90px !important;
        }
    }
    .search-container {
        display: none !important;
    }

    &__country-name {
        font-size: 13px !important;
        font-weight: 600 !important;
        color: #50565b !important;
    }

    &__dial-code {
        font-size: 13px !important;
        font-weight: 500 !important;
        color: #50565b !important;
        margin-left: $margin-8 !important;
    }
}

.iti__arrow {
    background: url("/assets/images/chevron-down.svg");
    height: 16px !important;
    width: 16px !important;
    border: unset !important;
    background-repeat: no-repeat;
    background-position: center;
}

.iti--allow-dropdown input {
    padding-left: 55px !important;
}
