<div id="sidebar">
    <div id="sidebar-content">
        <div class="middle">
            <div class="menu">
                <ul>
                    <li class="item">
                        <a class="btn" routerLinkActive="active" routerLink="/components/badge">Badge</a>
                        <!--<div class="smenu">
                            <a href="">Post</a>
                            <a href="">Picture</a>
                        </div>-->
                    </li>

                    <li class="item">
                        <a class="btn" routerLinkActive="active" routerLink="/components/button">Button</a>
                    </li>

                    <li class="item">
                        <a class="btn" routerLinkActive="active" routerLink="/components/date-picker">Date Picker</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/forms" routerLinkActive="active" class="btn">Forms</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/menu" routerLinkActive="active" class="btn">Menu</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/select" routerLinkActive="active" class="btn">Select</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/input-group" routerLinkActive="active" class="btn">Inputs</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/stepper" routerLinkActive="active" class="btn">Stepper</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/switch" routerLinkActive="active" class="btn">Switch</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/tooltip" routerLinkActive="active" class="btn">Tooltip</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>