<div id="sidebar">
    <div id="sidebar-content">
        <div class="middle">
            <div class="menu">
                <ul>
                    <li class="item" routerLinkActive="active">
                        <a class="btn" routerLink="/components/badge">Badge</a>
                        <div class="smenu">
                            <a routerLink="/components/badge" fragment="badges-with-in-built-icon">Build-in icons</a>
                            <a routerLink="/components/badge" fragment="badges-with-custom-icon">Custom icons</a>
                        </div>
                    </li>

                    <li class="item" routerLinkActive="active">
                        <a class="btn" routerLink="/components/button">Button</a>
                        <div class="smenu">
                            <a routerLink="/components/button" fragment="secondary-buttons">Secondary buttons</a>
                            <a routerLink="/components/button" fragment="danger-buttons">Danger buttons</a>
                            <a routerLink="/components/button" fragment="white-buttons">White buttons</a>
                            <a routerLink="/components/button" fragment="small-buttons">Small buttons</a>
                            <a routerLink="/components/button" fragment="buttons-with-an-icon">Buttons with icon</a>
                        </div>
                    </li>

                    <li class="item">
                        <a class="btn" routerLinkActive="active" routerLink="/components/breadcrumb">Breadcrumb</a>
                    </li>

                    <li class="item">
                        <a class="btn" routerLinkActive="active" routerLink="/components/date-picker">Date Picker</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/form" routerLinkActive="active" class="btn">Forms</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/menu" routerLinkActive="active" class="btn">Menu</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/select" routerLinkActive="active" class="btn">Select</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/input-group" routerLinkActive="active" class="btn">Inputs</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/stepper" routerLinkActive="active" class="btn">Stepper</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/switch" routerLinkActive="active" class="btn">Switch</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/tooltip" routerLinkActive="active" class="btn">Tooltip</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/table" routerLinkActive="active" class="btn">Table</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/modal" routerLinkActive="active" class="btn">Modal</a>
                    </li>

                    <li class="item">
                        <a routerLink="/components/pagination" routerLinkActive="active" class="btn">Pagination</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>