#sidebar {
    //position: fixed;

    .menu {
        overflow: hidden;
    }

    .item {
        overflow: hidden;

        &.active {
            .btn::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 100%;
                background: #18dcff;
                left: 0;
                top: 0;
                transition: 0.3s;
            }

            .smenu {
                height: auto;
            }
        }
    }

    .btn {
        display: block;
        padding: 15px 35px;
        color: #17c0eb;
        position: relative;
    }

    .btn:hover,
    .btn.active {
        &::before {
            content: "";
            position: absolute;
            width: 6px;
            height: 100%;
            background: #18dcff;
            left: 0;
            top: 0;
            transition: 0.3s;
        }
    }

    .btn i {
        margin-right: 10px;
    }

    .smenu {
        overflow: hidden;
        transition: max-height 0.3s;
        height: 0;
    }

    .smenu a {
        display: block;
        padding: 4px 0 4px 62px;
        position: relative;
        font-size: 14px;
    }

    .smenu a::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 100%;
        background: #18dcff;
        left: 1px;
        top: 0;
        transition: .3s;
        opacity: 0;
    }

    .smenu a:hover::before {
        opacity: 1;
    }

    .item:target .smenu {
        max-height: 10em;
    }
}