<form [formGroup]="form" data-select="test" (ngSubmit)="submit()">
    <div class="entry">
        <label for="url" class="label">Website URL</label>
        <input type="text" [formControl]="controls['url']" class="input" id="url" placeholder="https://mywebsite.com">
    </div>
    <div class="entry">
        <label for="ip" class="label">IP address</label>
        <input type="text" [formControl]="controls['ip']" class="input" id="ip" placeholder="10.199.212.002">
    </div>
    <div class="entry">
        <label for="alt-ip" class="label">Alternate IP address</label>
        <input type="text" [formControl]="controls['altIp']" class="input" id="alt-ip" placeholder="10.199.212.002">
    </div>

    <fieldset [formGroup]="paymentForm" class="entry">
        <legend class="legend">Payment method</legend>
        <div class="select">
            <select name="" id="payment-processor" [formControl]="payments['processor']">
                <option value="stripe/flutterwave">Stripe / Flutterwave</option>
                <option value="bank">Bank transfer</option>
            </select>
        </div>
        <input type="text" [formControl]="payments['secKey']" class="input" id="secret-key" placeholder="Secret key">
        <textarea type="text" [formControl]="payments['authIp']" class="textarea" id="auth-ip"
            placeholder="Authorized IP addresses"></textarea>
    </fieldset>

    <fieldset class="entry">
        <legend for="role" class="legend">Set role</legend>
        <div class="select disabled">
            <select [formControl]="controls['role']" id="role">
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
        </div>
    </fieldset>

    <div class="entry">
        <legend for="balance" class="legend">Set balance</legend>
        <reloadly-range-slider id="balance" [min]="0" [max]="90" (currentValue)="setRangeAmount($event)"
            (currentPercentage)="setRangePercentage($event)" [disabled]="false">
        </reloadly-range-slider>
    </div>

    <div class="entry">
        <reloadly-checkbox name="accept-terms" label="Accept Terms & Conditions" [control]="checkboxes['acceptTerms']"
            (change)="checkBoxClicked($event)">
        </reloadly-checkbox>
        <reloadly-checkbox name="accept-license" label="Agree to end-user license" [checked]="true"
            [control]="checkboxes['endUserLicense']" (change)="checkBoxClicked($event)">
        </reloadly-checkbox>
        <reloadly-checkbox name="newsletters" label="Subscribe to our newsletters" [disabled]="true"
            [control]="checkboxes['newsletters']" [checked]="true" (change)="checkBoxClicked($event)">
        </reloadly-checkbox>
        <reloadly-checkbox name="notifications" label="Send premium push notifications" [disabled]="true"
            [control]="checkboxes['notifications']" [checked]="false" (change)="checkBoxClicked($event)">
        </reloadly-checkbox>
    </div>

    <div class="entry">
        <button class="button-primary" id="submit-button" type="submit">Save</button>
    </div>
</form>


<!--
<h1 [attr.id]="'button'">Buttons</h1>
<p class="mb-6">Buttons directive that offers you possibilities to highly customize your buttons.</p>

<app-tabs>
    <app-tab tabTitle="Examples">
        <app-code-box [code]="getCodeSample('buttons')">
            <button reloadly-button (click)="disabled=!disabled" class="mr-4 mt-4" [rounded]="true"
                [variant]="'filled'">
                Toggle Disable
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [rounded]="true" [variant]="'filled'"
                [disabled]="disabled">
                Filled
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [rounded]="true" [variant]="'outlined'"
                [disabled]="disabled">
                Outlined
            </button>

            <button reloadly-button [class]="dynamicClass" [rounded]="true" [variant]="'text'" [disabled]="disabled">
                Text
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [rounded]="true" [variant]="'elevated'"
                [disabled]="disabled">
                Elevated
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [rounded]="true" [variant]="'tonal'"
                [disabled]="disabled">
                Tonal
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class-xl" [size]="'xl'" [color]="'primary'"
                [rounded]="false" [variant]="'filled'" [disabled]="disabled">
                Rectangular Xl
            </button>
        </app-code-box>

        <app-code-box [code]="getCodeSample('secondaryButtons')" title="Secondary Buttons">
            <button reloadly-button class="mr-4 mt-4 custom-button-class-xl" [size]="'xl'" [color]="'secondary'"
                [rounded]="false" [variant]="'filled'" [disabled]="disabled">
                Rectangular Xl
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'secondary'" [rounded]="true"
                [variant]="'filled'" [disabled]="disabled">
                Filled
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'secondary'" [rounded]="true"
                [variant]="'outlined'" [disabled]="disabled">
                Outlined
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'secondary'" [rounded]="true"
                [variant]="'text'" [disabled]="disabled">
                Text
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'secondary'" [rounded]="true"
                [variant]="'elevated'" [disabled]="disabled">
                Elevated
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'secondary'" [rounded]="true"
                [variant]="'tonal'" [disabled]="disabled">
                Tonal
            </button>
        </app-code-box>

        <app-code-box [code]="getCodeSample('dangerButtons')" title="Danger Buttons">
            <button reloadly-button class="mr-4 mt-4 custom-button-class-xl" [size]="'xl'" [color]="'danger'"
                [rounded]="false" [variant]="'filled'" [disabled]="disabled">
                Rectangular Xl
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'danger'" [rounded]="true"
                [variant]="'filled'" [disabled]="disabled">
                Filled
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'danger'" [rounded]="true"
                [variant]="'outlined'" [disabled]="disabled">
                Outlined
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'danger'" [rounded]="true"
                [variant]="'text'" [disabled]="disabled">
                Text
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'danger'" [rounded]="true"
                [variant]="'elevated'" [disabled]="disabled">
                Elevated
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'danger'" [rounded]="true"
                [variant]="'tonal'" [disabled]="disabled">
                Tonal
            </button>
        </app-code-box>

        <app-code-box [code]="getCodeSample('whiteButtons')" title="White Buttons">
            <button reloadly-button class="mr-4 mt-4 custom-button-class-xl" [size]="'xl'" [color]="'white'"
                [rounded]="false" [variant]="'filled'" [disabled]="disabled">
                Rectangular Xl
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'white'" [rounded]="true"
                [variant]="'filled'" [disabled]="disabled">
                Filled
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'white'" [rounded]="true"
                [variant]="'outlined'" [disabled]="disabled">
                Outlined
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'white'" [rounded]="true"
                [variant]="'text'" [disabled]="disabled">
                Text
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'white'" [rounded]="true"
                [variant]="'elevated'" [disabled]="disabled">
                Elevated
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [color]="'white'" [rounded]="true"
                [variant]="'tonal'" [disabled]="disabled">
                Tonal
            </button>
        </app-code-box>

        <app-code-box [code]="getCodeSample('smallButtons')" title="Small Buttons">
            <button reloadly-button class="mr-4 mt-4" [size]="'xs'" [color]="'primary'" [rounded]="false"
                [variant]="'filled'" [disabled]="disabled">
                Button
            </button>

            <button reloadly-button class="mr-4 mt-4" [size]="'xs'" [color]="'white'" [rounded]="false"
                [variant]="'filled'" [disabled]="disabled">
                Button
            </button>

            <button reloadly-button class="mr-4 mt-4" [size]="'xs'" [color]="'danger'" [rounded]="false"
                [variant]="'filled'" [disabled]="disabled">
                Button
            </button>

            <button reloadly-button class="mr-4 mt-4" [size]="'xs'" [color]="'primary'" [rounded]="false"
                [variant]="'outlined'" [disabled]="disabled">
                Button
            </button>
        </app-code-box>

        <app-code-box [code]="getCodeSample('iconButtons')" title="Buttons with an icon">
            <button reloadly-button class="mr-4 mt-4 custom-button-class" [rounded]="true" [variant]="'filled'"
                [disabled]="disabled">
                <div class="example-icon">
                    <svg>
                        <use xlink:href="#plus-icon"></use>
                    </svg>
                </div>
                <span class="ml-auto mr-auto">
                    Filled
                </span>
            </button>

            <button reloadly-button class="mr-4 mt-4 custom-button-class" [rounded]="true" [variant]="'outlined'"
                [disabled]="disabled">
                <div class="example-icon">
                    <svg>
                        <use xlink:href="#plus-icon"></use>
                    </svg>
                </div>
                <span class="ml-auto mr-auto">
                    Outlined
                </span>
            </button>


<button reloadly-button [class]="dynamicClass" [rounded]="true" [variant]="'text'" [disabled]="disabled">
    <div class="example-icon">
        <svg>
            <use xlink:href="#plus-icon"></use>
        </svg>
    </div>
    <span class="ml-auto mr-auto">
        Text
    </span>
</button>

<button reloadly-button class="mr-4 mt-4 custom-button-class" [rounded]="true" [variant]="'elevated'"
    [disabled]="disabled">
    <div class="example-icon">
        <svg>
            <use xlink:href="#plus-icon"></use>
        </svg>
    </div>
    <span class="ml-auto mr-auto">
        Elevated
    </span>
</button>

<button reloadly-button class="mr-4 mt-4 custom-button-class" [rounded]="true" [variant]="'tonal'"
    [disabled]="disabled">
    <div class="example-icon">
        <svg>
            <use xlink:href="#plus-icon"></use>
        </svg>
    </div>
    <span class="ml-auto mr-auto">
        Tonal
    </span>
</button>

<button reloadly-button class="mr-4 mt-4" [size]="'xs'" [color]="'primary'" [rounded]="false" [variant]="'filled'"
    [disabled]="disabled">
    <span class="ml-auto mr-auto">
        Button
    </span>
    <div class="example-icon-alt ml-1">
        <svg>
            <use xlink:href="#plus-icon-rounded-white"></use>
        </svg>
    </div>
</button>
</app-code-box>
</app-tab>

<app-tab tabTitle="API" class="tab api">
    <app-api-table type="directive" name="reloadly-button" [data]="api"></app-api-table>
</app-tab>
</app-tabs>-->