<section class="test">
    <div class="try">
        <app-badge-example></app-badge-example>
    </div>
    <div class="try">
        <app-button-example></app-button-example>
    </div>
    <div class="try">
        <app-date-example></app-date-example>
    </div>
    <!-- <div class="try">
        <app-form-example></app-form-example>
    </div> -->
    <div class="try">
        <app-form-group-example></app-form-group-example>
    </div>
    <div class="try">
        <app-input-group-example></app-input-group-example>
    </div>
    <div class="try">
        <app-menu-example></app-menu-example>
    </div>
    <div class="try">
        <app-select-example></app-select-example>
    </div>
    <div class="try">
        <app-sidebar-example></app-sidebar-example>
    </div>
    <!-- <div class="try">
        <app-stepper-example></app-stepper-example>
    </div> -->
    <div class="try">
        <app-switch-example></app-switch-example>
    </div>
    <div class="try">
        <app-tooltip-example></app-tooltip-example>
    </div>
</section>
