#content {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 82%;
    overflow: auto;
}

.tabs {
    li.active {
        a {
            border-bottom-color: hsl(0, 0%, 21%);
            color: hsl(0, 0%, 21%);
        }
    }
}