<app-badge-example></app-badge-example>
<app-button-example></app-button-example>
<app-date-example></app-date-example>
<!--<app-form-example></app-form-example>-->
<app-form-group-example></app-form-group-example>
<app-input-group-example></app-input-group-example>
<app-menu-example></app-menu-example>
<app-select-example></app-select-example>
<app-sidebar-example></app-sidebar-example>
<!--<app-stepper-example></app-stepper-example>-->
<app-switch-example></app-switch-example>
<app-tooltip-example></app-tooltip-example>